.fullPost001 {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    /* position: relative; */
    z-index: 3;
}

.fullPost002 {
    position: relative;
    z-index: 0;
}

.fullPost003 {
    display: flex;
    min-height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fullPost004 {
    background-color: rgba(0, 0, 0, 0.65);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.fullPost005 {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.fullPost006 {
    padding: 8px;
}

.fullPost007 {
    align-items: inherit;
    display: inherit;
    flex-direction: inherit;
    flex-grow: inherit;
    flex-shrink: inherit;
    justify-content: inherit;
    align-content: inherit;
    max-height: inherit;
    min-width: 100%;
    position: relative;
}

.fullPost008 {
    align-items: stretch;
    box-sizing: border-box;
    flex-grow: 1;
    justify-content: center;
}

.fullPost009 {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    min-height: 0;
    min-width: 0;
}

.fullPost010 {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 0;
}

.fullPost011 {
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    flex-shrink: 1;
    max-height: calc(100% - 40px);
    position: relative;
    width: 100%;
}

.fullPost012 {
    position: absolute;
    padding: 10px;
}

.fullPost013 {
    position: relative;
}

.fullPost014 {
    display: block;
    background: white;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -20px;
    opacity: 1;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
    text-indent: -9999em;
    top: 50%;
    transition-duration: 0.2s;
    transition-property: opacity;
    z-index: 3;
}

.fullPost015 {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.fullPost016 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.fullPost017 {
    transform: rotate(270deg);
}

.fullPost018 {
    transform: rotate(90deg);
}

.fullPost019 {
    border-radius: 4px;
    margin: auto;
    max-width: calc(100% - 64px - 64px);
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
    width: 100%;
}

.fullPost020 {
    height: 100%;
    max-width: 100%;
}

.fullPost021 {
    align-items: stretch;
    display: flex;
    justify-content: center;
    position: relative;
}

.fullPost022 {
    aspect-ratio: 1/1;
    background-color: black;
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    max-height: 600px;
    max-width: 600px;
    min-height: 450px;
    overflow: hidden;
    pointer-events: auto;
}

.fullPost023 {
    flex-shrink: 0;
    font: inherit;
    left: 0;
    top: 0;
}

.fullPost024 {
    position: relative;
}

.fullPost025 {
    bottom: 15px;
    left: 6px;
    position: absolute;
    right: 6px;
    vertical-align: baseline;
}

.fullPost026 {
    background: white;
    border-radius: 50%;
    height: 6px;
    margin-right: 4px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    width: 6px;
}

.fullPost027 {
    background: white;
    border-radius: 50%;
    height: 6px;
    margin-right: 4px;
    opacity: 0.4;
    transition: all 0.2s ease-in-out;
    width: 6px;
}

.fullPost028 {
    flex-grow: 1;
    flex-shrink: 2;
    max-width: 500px;
    min-width: 405px;
}

.fullPost029 {
    align-items: stretch;
    align-self: auto;
    flex-grow: 1;
    justify-content: flex-start;
}

.fullPost030 {
    background-color: white;
    border-radius: 0 4px 4px 0;
    height: 100%;
}

.fullPost031 {
    border-bottom: 1px solid rgb(239, 239, 239);
    border-left: 1px solid rgb(239, 239, 239);
    border-radius: 4px;
}

.fullPost032 {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.fullPost033 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 48px);
    padding: 14px 4px 14px 16px;
    position: relative;
}

.fullPost034 {
    height: 32px;
    width: 32px;
    position: relative;
}

.fullPost035 {
    border-radius: 50%;
    height: 24px;
    overflow: hidden;
    width: 24px;
}

.fullPost036 {
    align-items: flex-start;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 14px;
    overflow: hidden;
}

.fullPost037 {
    display: flex;
    max-width: 100%;
}

.fullPost038 {
    max-width: 100%;
    padding: 2px;
}

.fullPost039 {
    color: rgb(38, 38, 38);
    font-weight: 600;
    text-align: center;
}

.fullPost040 {
    font-weight: 400;
    white-space: pre-line;
}

.fullPost041 {
    padding-right: 8px;
}

.fullPost042 {
    display: flex;
    flex-direction: column;
}

.fullPost043 {
    border-left: 1px solid rgb(239, 239, 239);
    flex-grow: 1;
    min-width: 335px;
    width: 100%;
}

.fullPost044 {
    border-top: 1px solid rgb(239, 239, 239);
    display: flex;
    margin-top: 4px;
    order: 3;
    padding: 0 16px;
    padding-bottom: 8px;
    padding-top: 6px;
}

.fullPost045 {
    cursor: pointer;
}

.fullPost046 {
    margin-bottom: 4px;
    order: 4;
    padding: 0 16px;
}

.fullPost047 {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    margin: 0 0 auto;
    order: 1;
    overflow-x: hidden;
    padding: 0 16px;
}

.fullPost048 {
    flex-grow: 1;
    font-size: 100%;
    left: 0;
    margin: 0;
    overflow-y: scroll;
    padding: 16px;
    position: absolute;
}

.fullPost048::-webkit-scrollbar {
    display: none;
}

.fullPost049 {
    overflow: visible;
    padding: 5px 16px 16px 0;
    width: auto;
}

.fullPost050 {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.fullPost051 {
    align-items: flex-start;
    display: flex;
    width: 100%;
}

.fullPost052 {
    margin: 0 18px 0 0;
    position: relative;
}

.fullPost053 {
    align-items: center;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    margin-block: 0;
}

.fullPost054 {
    margin-right: 4px;
}

.fullPost055 {
    display: inline;
}

.fullPost056 {
    display: inline;
    font-weight: 400;
    margin: 0;
}

.fullPost057 {
    display: flex;
    justify-content: flex-start;
    margin: 8px 0 4px;
}

.fullPost058 {
    color: rgb(115, 115, 115);
    font-weight: 400;
    width: 100%;
}

.fullPost059 {
    margin-right: 12px;
}

.fullPost060 {
    margin-bottom: 16px;
}

.fullPost061 {
    margin-bottom: 5px;
    padding: 12px 0;
    padding-bottom: 0;
}

.fullPost062 {
    align-items: stretch;
    border: none;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.fullPost063{
    width: 100%;
    height: 100%;
}

.fullPost065 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    margin-right: 12px;
    padding: 0;
}

.fullPost066 {
    margin-top: 9px;
    width: 24px;
    display: flex;
    justify-content: flex-end;
}

.fullPost067 {
    margin: 16px 0 0 54px;
}

.fullPost068 {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.fullPost069 {
    align-items: center;
    background: none;
    border: none;
    color: rgb(0, 55, 107);
    display: flex;
    padding: 0;
    text-align: center;
}

.fullPost070 {
    border-bottom: 1px solid rgb(0, 55, 107);
    margin-right: 16px;
    vertical-align: middle;
    width: 24px;
}

.fullPost071 {
    color: rgb(115, 115, 115);
    font-size: 12px;
}

.fullPost072 {
    margin-bottom: 16px;
    order: 5;
    padding: 0 16px;
}

.fullPost073 {
    color: rgb(115, 115, 115);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.fullPost074 {
    border-top: 1px solid rgb(239, 239, 239);
    order: 6;
    padding: 6px 16px 6px 0;
}

.fullPost075 {
    height: 56px;
}

.fullPost076 {
    border: none;
    height: 18px;
    outline: none;
}

.fullPost077 {
    margin-left: 8px;
}

.fullPost078 {
    background: transparent;
    border: none;
    color: rgb(0, 149, 246);
    font-weight: 600;
}
