.profPostsContainer > div:nth-child(3) {
    margin-right: 0px;
}

.hoverIcons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.image-container {
    flex: 1 0 0%;
    margin-right: 4px;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.image-container:hover > .hoverIcons {
    display: flex;
}

.image-container img {
    vertical-align: middle;
    height: 309px;
    width: 309px;
}

.profile001 {
    width: calc(100% - 40px);
    padding: 35px 20px 0;
    margin: 0 auto 30px;
    max-width: 975px;
}

.profile001 > .profHead017 {
    display: none;
}

.profile002 {
    margin-bottom: 44px;
    height: 130px;
}

.profile003 {
    height: 100%;
    display: flex;
}

.profile004 {
    padding: 0;
    display: flex;
    list-style-type: none;
}

.profile005 {
    height: 100%;
}

.profile006 {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile007 {
    cursor: pointer;
    padding: 10px 15px;
    width: 115px;
}

.profile008 {
    width: 87px;
    height: 85px;
    border: 1px solid grey;
    border-radius: 50%;
}

.profile009 {
    padding-top: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}

@media screen and (max-width: 900px) {
    .image-container img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .profile001 {
        width: 100%;
        padding: 0;
    }

    .profile002 {
        margin-bottom: 22px;
    }

    .profile008 {
        height: 56px;
        width: 56px;
    }

    .profile007 {
        width: 72.5px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile006{
        width: 80px;
    }
}
