.profPostsContainer > div:nth-child(3) {
    margin-right: 0px;
}

.hoverIcons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.image-container {
    flex: 1 0 0%;
    margin-right: 4px;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.image-container:hover > .hoverIcons {
    display: flex;
}

.image-container img {
    vertical-align: middle;
    height: 309px;
    width: 309px;
}
