.accModal001 {
    display: grid;
    row-gap: 16px;
    width: max-content;
    align-items: center;
    grid-template-columns: 64px 40px min-content;
    background-color: white;
    box-shadow: 0 5px 23px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px 0;
}

.accModal002 {
    padding: 0 16px;
}

.accModal003 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3px;
    align-items: center;
}

.accModal004 {
    padding: 0 8px;
    text-align: center;
}

.accModal005 {
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
}

.accModal006::before {
    margin-top: -3px;
    height: 0;
    display: block;
    content: "";
}
.accModal006::after {
    margin-bottom: -4px;
    height: 0;
    display: block;
    content: "";
}

.accModal007 {
    margin-top: 4px;
}

.accModal008 {
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
}
