.profHead001 {
    margin-bottom: 44px;
    display: flex;
}

.profHead002 {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

.profHead003 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.profHead004 {
    flex-grow: 2;
    flex-basis: 30px;
}

.profHead005 {
    display: flex;
    align-items: center;
}

.profHead006 {
    cursor: pointer;
}

.profHead007 {
    line-height: 25px;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.profHead008 {
    margin-left: 20px;
}

.profHead009 {
    display: flex;
    align-items: stretch;
}

.profHead010 {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profHead011 {
    border: none;
    background-color: rgb(239, 239, 239);
    border-radius: 8px;
    padding: 7px 16px;
    width: auto;
    text-overflow: ellipsis;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.profHead012 {
    display: flex;
    min-width: 0
}

.profHead013 {
    transform: rotate(180deg);
    margin-left: 4px;
}

.profHead014 {
    border: none;
    background-color: rgb(239, 239, 239);
    border-radius: 8px;
    padding: 8px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profHead015 {
    margin-left: 5px;
}

.profHead016 {
    margin-bottom: 20px;
}

.profHead017 {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.profHead018 {
    font-size: 16px;
    margin-right: 40px;
}

.profHead019 {
    font-weight: 600;
}

.profHead020 {
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
}

.profHead021 {
    padding: 6px 0;
}

.profHead022 {
    margin-top: 14px;
}

.profHead023 {
    font-weight: 500;
    font-size: 12px;
    color: rgb(115, 115, 115);
}

.profHead024 {
    color: black;
}

.userDetailDiv1 {
    display: block;
}

.userDetailDiv2 {
    display: none;
}

.mobileTabsHead{
    display: none;
    max-width: 250px;
}

@media screen and (max-width: 768px) {
    .profHead003 {
        height: 75px;
        width: 75px;
    }

    .profHead001 {
        margin: 16px;
    }

    .profHead016 {
        margin-bottom: 12px;
    }

    .profHead002 {
        margin-right: 28px;
        flex-grow: 0;
    }

    .profHead009 > .profHead010 {
        display: none;
    }

    .profHead004 .profHead017 {
        display: none;
    }

    .profHead017 {
        justify-content: space-between;
        margin-bottom: 12px;
        padding-top: 12px;
        border-top: 1px solid rgb(219, 219, 219);
    }
    .profHead018 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 0;
        align-items: center;
        font-size: 14px;
        flex-direction: column;
    }
    .userDetailDiv1 {
        display: none;
    }
    
    .userDetailDiv2 {
        display: block;
        padding: 0 16px 21px;
    }

    .mobileTabsHead {
        display: flex;
    }

    .mobileTabsHead > .profHead010{
        margin-left: 8px;
        padding: 0;
    }
    .mobileTabsHead > .profHead010:first-of-type{
        margin-left: 0px;
    }

    .mobileTabsHead > .profHead015{
        display: none;
    }
}
