.explore001 {
    padding: 24px 20px 0;
    width: calc(100% - 40px);
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 975px;
}

.explore002 {
    margin: 0 -28px 0 0;
    flex-direction: column;
    display: flex;
    position: relative;
}

.explore003 {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    position: relative;
}

/* .explore004 {
    overflow-y: visible;
    position: relative;
    flex-shrink: 0;
    overflow-x: visible;
    align-self: auto;
    flex-grow: 0;
} */

.explore004 {
    display: grid;
    grid-template-columns: repeat(3, 33.33333%);
    column-gap: 4px;
    row-gap: 4px;
    margin-bottom: 4px;
}

.explore004 > .explore005:nth-child(3n){
    margin-right: 0px;
    /* width: 33.3333%; */
}

.explore005 {
    /* width: calc(33.3333%);
     */
     width: 100%;
    /* padding-bottom: 4px;
    padding-right: 4px; */
    position: relative;
    vertical-align: baseline;
    cursor: pointer;
}

.explore006 {
    /* float: left; */
}
.explore007 {
    float: right;
}

.explore008 {
    position: relative;
}

.explore010 {
    overflow: hidden;
}

.explore010:hover > .hoverIcons {
    display: flex;
}

.explore011 {
    margin: 15px 15px 0 0;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    inset: 0;
}

.explore012 {
    overflow: visible;
}

.explore013 {
    align-items: stretch;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font: inherit;
    font-size: 100%;
    height: 48px;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    position: relative;
    vertical-align: baseline;
}

.explore014 {
    height: 32px;
    width: 32px;
    top: 50%;
    left: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    position: absolute;
}


@media screen and (max-width: 768px) {
    .explore001 {
        width: 100%;
        padding: 0;
    }

    .explore002{
        margin: 0;
    }
}