.side01 {
    border-right: 2px solid rgb(240, 240, 240);
    position: relative;
    z-index: 1;
}

.side02 {
    padding: 18px 12px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    top: 0;
    position: sticky;
}

.side03 {
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 35px;
    font-family: "Lobster Two", cursive;
    padding: 0 5px;
    width: 100%;
}

.side04 {
    flex-grow: 1;
    width: 100%;
}

.side05 {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
}
