.side01 {
    position: relative;
    z-index: 1;
}

.side02 {
    padding: 8px 12px 20px;
    border-right: 1px solid rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    top: 0;
    width: 244px;
    position: fixed;
}

.side03 {
    height: 92px;
    display: flex;
    align-items: center;
    cursor: pointer;

    width: 100%;
}

.side04 {
    flex-grow: 1;
    width: 100%;
}

.side05 {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.side06 {
    font-size: 35px;
    display: none;
    font-family: "Lobster Two", cursive;
}

.side07 {
    display: flex;
}

.side08 {
    height: 73px;
    padding-bottom: 23px;
    margin-top: 12px;
}

.side09 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.switchView01 {
    display: block;
}

.switchView02 {
    display: none;
}

@media screen and (min-width: 1264px) {
    .side06 {
        display: block;
    }

    .side02 {
        width: 72px;
    }

    .side07 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .switchView01 {
        display: none;
    }

    .switchView02 {
        display: block;
        position: fixed;
        inset: 0;
        height: 100vh;
        background-color: white;
    }
    .side01 {
        position: fixed;
        bottom: 0;
        border: none;
        width: 100%;
    }

    .side02 {
        justify-content: flex-end;
        position: static;
        height: auto;
        padding: 0;
        width: 100%;
    }

    .side05 .side03 {
        display: none;
    }

    .mobileNavView .side03 {
        display: block;
        width: auto;
        min-width: 0;
        height: auto;
        padding: 0;
    }
    .mobileNavView .side03 .side06 {
        font-size: 30px;
    }

    .mobileNavView .search009 {
        margin: 0 16px 0 0;
        width: 100%;
    }
    .mobileNavView .search010 {
        margin: 0;
    }

    .side04 {
        display: flex;
        background-color: white;
        /* border-top: 2px solid rgb(240, 240, 240); */
    }

    .side04 > .tab01:nth-of-type(2),
    .side04 > .tab01:nth-of-type(5) {
        display: none;
    }

    .side05 {
        flex-direction: row;
        align-items: flex-end;
        height: auto;
    }

    .side05 > div:nth-of-type(3) {
        display: none;
    }

    .side06 {
        display: block;
    }

    .side07 {
        display: none;
    }
}
