.tab01 {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 56px;
    justify-content: flex-start;
    padding: 12px;
    width: 100%;
}

.tab01:hover {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab01:hover .tab02 {
    transform: scale(1.03);
}

.tab02 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab03 {
    text-transform: capitalize;
    padding-left: 16px;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    display: none;
    align-items: center;
}

.tab04 {
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

@media screen and (min-width: 1264px) {
    .tab03 {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .tab01 {
        justify-content: center;
    }
}
